<h1>Creation d'un projet</h1>
<form>
    <input type="text"/><br>
    <input type="text"/><br>
    <input type="text"/><br>
    <input type="text"/><br>
    <input type="submit"/><br>
    <input type="reset"/>
</form>
